article {
	text-align:center;
}
h1, h2, h3, h4 {
	font-family: 'Fira Sans', sans-serif !important;
}
h1 {
	font-size:42px;
	line-height:45px;
	}

h2 {
	font-size:22px;
}

p {
	color:#1e1e1e;
	font-size:22px;
	line-height:25px;
}
.previewvideo{
	cursor:pointer;	
}
#video {
	width:100%;
	margin:0 auto;
}
.carruselHome{
    height: 100vh;
    overflow: hidden !important;
	position:absolute;
}
.carruselHome .izq, .carruselHome .dch{
    position: absolute;
    top: 50%;
    z-index: 20;
	-webkit-transition: 0.5s ease-in-out;
	-moz-transition: 0.5s ease-in-out;
	transition: 0.5s ease-in-out;	
	cursor:pointer;
}
.carruselHome .izq{	
	left:0;
}

.carruselHome .dch{	
	right:0;
}

.carruselHome .izq img, .carruselHome .dch img{
	height:100%;
	width:100%;
}

.carruselHome article{
    overflow: hidden !important;
    width: 100vw;
	height:100vh;
}
#carrusel{
    left: 0;
    position: absolute;
    top: 0;
    width: 200vw;
	height:100vh;
	-webkit-transition: 1s ease-in-out;
	-moz-transition: 1s ease-in-out;
	transition: 1s ease-in-out;	
	display:table;
}

#carrusel.posicion1{
	left:0;
}
#carrusel.posicion2{
	left:-100vw;
}

#carrusel .item{
	float: left;
    width: 100vw;
	height:100vh;
	overflow:hidden;
	display:table-cell;
	vertical-align:middle;
}

#carrusel .item img{
	float:left;
	width:100%;
	height:auto;	
}

#carrusel iframe{
	float:left;
	width:100vw !important;
	position:relative;
	height:115vh;
	margin-top:-7.5vh;
}

.footerfijo{
	position:fixed;
	z-index:100;
	bottom:0;
	left:0;	
}
.carruselHome .izq, .carruselHome .dch{
		height: 3.8vw;
		width: 2.1vw;
	}
	.carruselHome .izq{	
		margin:-3.9vw 0 0 0;
		padding:2vw 1vw 2vw 3vw;
	}
	.carruselHome .izq:hover{
		padding:2vw;
	}
	.carruselHome .dch{	
		margin:-3.9vw 0 0 0;
		padding:2vw 3vw 2vw 1vw;
	}
	.carruselHome .dch:hover{
		padding:2vw;
	}

.imagenCarruselHome{
		display:block;	
}
.imagenCarruselMobile{
		display:none;	
}
@media only screen and (min-width: 1280px) {
	#que {
		background-size: auto 54%;
		background-position:right 20% bottom;
	}
	#nace article {
		background-size: auto 90%;
		background-position:right 20% bottom;
	}
}
@media only screen and (max-width: 1279px) and (min-width: 1080px) {
	#que {
		background-size: auto 45%;
		background-position:right 5% bottom !important;
	}
	#nace article{
		background-size: auto 85%;
		background-position:left 18% bottom !important;
	}
}
@media only screen and (max-width: 1079px) and (min-width: 320px) {
	#que {
		background-size: auto 40%;
		background-position:right 2% bottom !important;
	}
	#nace article{
		background-size: auto 65%;
		background-position:left 6% bottom !important;
	}
}

@media only screen and (max-width: 720px) and (min-width: 320px), only screen and (max-width: 700px) and (orientation:portrait) {
	#que {
		background-size: auto 33%;
		background-position:right 0% bottom !important;
	}
	#nace article{
		background-size: auto 60%;
		background-position:left 3% bottom !important;
	}
}

@media only screen and (max-width: 700px) and (orientation:portrait) {
	.carruselHome .izq {
		margin: -11.5vw 0 0 0 !important;
		padding: 6vw 3vw !important;
	}
	.carruselHome .dch {
		margin: -11.5vw 0 0 0 !important;
		padding: 6vw 3vw !important;
	}	
	.carruselHome .izq, .carruselHome .dch {
		height: 11vw !important;
		width: 5vw !important;
	}
	.imagenCarruselHome{
		display:none !important;	
	}
	.imagenCarruselMobile{
		display:block !important;	
	}
	.carruselHome{
    	height: 175vw;
		overflow: hidden !important;
		position:relative !important;
	}
	.carruselHome article{
		overflow: hidden !important;
		width: 100vw;
		height:175vw !important;
	}
	#carrusel{
		height:175vw !important;
	}
	#carrusel .item{
		height:175vw !important;
	}
	#carrusel iframe{
		height:175vw !important;
		margin-top:0 !important;
	}
	#carrusel .item img{
		float:left;
		width:100%;
		height:auto;	
	}
	.footerfijo{
		position:relative !important;
	}
}
	
#que {
	background-color: #83dba9;
	background-image: url("../imagenes/que_fondo.jpg");
	background-repeat: no-repeat;
	background-position:right 20% bottom;
}
	
#que article {
	width:472px;
	padding:130px 0;
}
#nace{
	background-color: #ededed;	
}
#nace article{	
	background-image: url("../imagenes/fondo_flor.png");
	background-repeat: no-repeat;
	background-position:left 20% bottom;
}
	
#nace article {
	width:472px;
	padding:130px 18px 130px 500px;
}
	
#desarrollo {
	background: #c5e3e2;
}
	
#desarrollo article {
	padding:130px 0;
}

#desarrollo h1 {
	margin-bottom:22px;
}
	
#desarrollo img{
	margin:5px 0 27px 0;
}
	



@media screen and (max-width: 990px) {

	article {
		width:100%;
		}	
	
	#nace article {
		padding:130px 10%;
		width:80%;
	}
		
	#desarrollo article {
		padding: 130px 0;
		width: 95%;
	}
}
	
@media only screen and (max-width: 768px) {
	
	h1 {
		font-size:36px;
		font-weight:bold;
		line-height:37px;
		}
	
	h2 {
		font-size:18px;
	}
	
	
	p {
		font-size:18px;
		line-height:20px;
		}
	

}
	
@media only screen and (max-width: 412px) {

	h1 {
		font-size: 30px;
		line-height: 32px;
	}
	
	p {
		font-size: 16px;
		line-height: 18px;
	}
	
	br {
		display:none;
		}
	
	#que article {
		width:auto;
		padding: 60px 10px 130px;
	}
	
	#nace article {
		padding: 60px 10%;
		width: 80%;
	}
	
	
	#desarrollo article {
		padding: 60px 10px;
		width:auto;
	}
	
}