article {
	text-align:center;
}

h1 {
	font-size:42px;
	line-height:45px;
	}

h2 {
	font-size:22px;
}

p {
	color:#1e1e1e;
	font-size:22px;
	line-height:25px;
}
		
#video {
	width:100%;
	margin:0 auto;
}
.carruselHome{
    height: 100vh;
    overflow: hidden !important;
	position:absolute;
}
.carruselHome .izq, .carruselHome .dch{
    position: absolute;
    top: 50%;
    z-index: 20;
	-webkit-transition: 0.5s ease-in-out;
	-moz-transition: 0.5s ease-in-out;
	transition: 0.5s ease-in-out;	
	cursor:pointer;
}
.carruselHome .izq{	
	left:0;
}

.carruselHome .dch{	
	right:0;
}

.carruselHome .izq img, .carruselHome .dch img{
	height:100%;
	width:100%;
}

.carruselHome article{
    overflow: hidden !important;
    width: 100vw;
	height:100vh;
}
#carrusel{
    left: 0;
    position: absolute;
    top: 0;
    width: 200vw;
	height:100vh;
	-webkit-transition: 1s ease-in-out;
	-moz-transition: 1s ease-in-out;
	transition: 1s ease-in-out;	
	display:table;
}

#carrusel.posicion1{
	left:0;
}
#carrusel.posicion2{
	left:-100vw;
}

#carrusel .item{
	float: left;
    width: 100vw;
	height:100vh;
	overflow:hidden;
	display:table-cell;
	vertical-align:middle;
}

#carrusel .item img{
	float:left;
	width:100%;
	height:auto;	
}

#carrusel iframe{
	float:left;
	width:100vw !important;
	position:relative;
	height:110vh;
	margin-top:-5vh;
}

.footerfijo{
	position:fixed;
	z-index:100;
	bottom:0;
	left:0;	
}
.carruselHome .izq, .carruselHome .dch{
		height: 3.8vw;
		width: 2.1vw;
	}
	.carruselHome .izq{	
		margin:-3.9vw 0 0 0;
		padding:2vw 1vw 2vw 3vw;
	}
	.carruselHome .izq:hover{
		padding:2vw;
	}
	.carruselHome .dch{	
		margin:-3.9vw 0 0 0;
		padding:2vw 3vw 2vw 1vw;
	}
	.carruselHome .dch:hover{
		padding:2vw;
	}
/*
@media only screen and (max-width: 1450px) and (min-width: 1025px) {
	.carruselHome .izq, .carruselHome .dch{
		height: 3.8vw;
		width: 2.1vw;
	}
	.carruselHome .izq{	
		margin:-3.9vw 0 0 0;
		padding:2vw 1vw 2vw 3vw;
	}
	.carruselHome .izq:hover{
		padding:2vw;
	}
	.carruselHome .dch{	
		margin:-3.9vw 0 0 0;
		padding:2vw 3vw 2vw 1vw;
	}
	.carruselHome .dch:hover{
		padding:2vw;
	}
	
	.carruselHome article{
		height: 42vw;
	}
	#carrusel{
		height: 42vw;
	}

	#carrusel .item{
		height: 42vw;
		overflow:hidden;	
	}
	
	#carrusel .item img{
		width:100%;
		height:56.3vw;
		margin-top:-8.5vw;	
	}
	
	#carrusel iframe{
		height:56.3vw !important;
		margin-top:-8.5vw;
		position:relative;		
	}
}*/
/*@media only screen and (max-width: 1024px){
	.carruselHome .izq, .carruselHome .dch{
		height: 3.8vw;
		width: 2.1vw;
	}
	.carruselHome .izq{	
		margin:-3.9vw 0 0 0;
		padding:2vw 1vw 2vw 3vw;
	}
	.carruselHome .izq:hover{
		padding:2vw;
	}
	.carruselHome .dch{	
		margin:-3.9vw 0 0 0;
		padding:2vw 3vw 2vw 1vw;
	}
	.carruselHome .dch:hover{
		padding:2vw;
	}
	
	.carruselHome article{
		height: 56.3vw;
	}
	#carrusel{
		height: 56.3vw;
	}

	#carrusel .item{
		height: 56.3vw;
		overflow:hidden;
	}
	
	#carrusel .item img{
		width:auto;
		height:100%;	
	}
	
	#carrusel iframe{
		height:56.3vw !important;
		position:relative;
	}
	#carrusel iframe{
	float:left;
	width:100vw !important;
	position:relative;
	height:110vh;
	margin-top:0;
	}	
}
*/


	
#que {
	background: #83dba9 url("../imagenes/que_fondo.jpg") no-repeat scroll left 80% bottom / 351px 398px;
}
	
#que article {
	width:472px;
	padding:130px 0;
}
	
#nace {
	background: #ededed;
	background: url(../imagenes/fondo_flor.png) left 30% bottom #ededed no-repeat;
}
	
#nace article {
	width:472px;
	padding:130px 18px 130px 500px;
}
	
#desarrollo {
	background: #c5e3e2;
}
	
#desarrollo article {
	padding:130px 0;
}

#desarrollo h1 {
	margin-bottom:22px;
}
	
#desarrollo img{
	margin:5px 0 27px 0;
}
	



@media screen and (max-width: 990px) {

article {
	width:100%;
	}



#que {
	background: #83dba9 url("../imagenes/que_fondo.jpg") no-repeat scroll left 95% bottom / 200px 227px;
	}


#nace {
    background: #ededed url("../imagenes/fondo_flor.png") no-repeat scroll left 5% bottom;
}
	
#nace article {
	padding:130px 10px;
	}
	
#desarrollo article {
	padding: 130px 0;
    width: 95%;
	}
}
	
@media only screen and (max-width: 768px) {
	

	
h1 {
	font-size:36px;
	font-weight:bold;
	line-height:37px;
	}

h2 {
	font-size:18px;
}


p {
	font-size:18px;
	line-height:20px;
	}

#nace {
    background: #ededed url("../imagenes/fondo_flor2.png") no-repeat scroll left 5% bottom;
}

	}
	
@media only screen and (max-width: 412px) {

h1 {
    font-size: 30px;
	line-height: 32px;
}

p {
    font-size: 16px;
    line-height: 18px;
}

br {
	display:none;
	}



#que {
    background: #83dba9 url("../imagenes/que_fondo.jpg") no-repeat scroll left 100% bottom / 140px 160px;
}

#que article {
	width:auto;
	padding: 60px 10px 130px;
	}
	
#nace {
    background: #ededed;
}	

#nace article {
    padding: 60px 10px;
    width: auto;
}


#desarrollo article {
    padding: 60px 10px;
    width:auto;
}
	
}