@charset "utf-8";
/* CSS Document */

/*--------------- Inicio Un metro Cuadrado -------------------------------*/

.amarillo, .rojo, .naranja, .azul, .verde, .rosa{
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	transition: 0.5s;
}

.amarillo, .amarillo:hover{
	background-color:#fbdb0d;
}
.rojo, .rojo:hover{
	background-color:#f2314b;
}
.naranja, .naranja:hover{
	background-color:#ff8022;
}
.azul, .azul:hover{
	background-color:#00d7e5;
}
.verde, .verde:hover{
	background-color:#2ad566;
}
.rosa, .rosa:hover{
	background-color:#fa55a6;
}

/*------------- CUADRICULA  -----------------*/
.cuadricula{
	background-image:url(../imagenes/bg_test.jpg);
	background-size:100% auto;
	background-repeat:no-repeat;
	background-position:left top;

}
.cuadricula article{
	width:100%;
	overflow:hidden;
}

.cuadricula table{
	padding:0;
	margin:-5.5vw 0;
	border:none 0px;
}
.cuadricula td{
	height:10.99999999vw;
	width:11.11111111%;
	border:solid 1px #fff;
}

.cuadricula td img{
	width:100%;
	height:100%;
	border:none;
	margin:0;
	padding:0;
	display:block;
}

.mousedown{
	height: auto !important;
    margin: -4.5vw auto 0 !important;
    width: 20% !important;
}

/*------------- QUE ES y VIDEO -----------------*/
.quees{
	background-color:#fff;
	padding:75px 0;
}

.quees .izq{
	width:55%;
	height:auto;
	float:left;
	padding-right:5%;
}

.quees .dch{
	width:40%;
	height:242px;
	float:left;
	padding:60px 0 0 0;
	overflow:hidden;
}

.quees .dch iframe{
	width:100%;
	border:none 0px;
	height:243px;
}
/*------------- MAPA PARTICIPA -----------------*/
.mapa{
	background-color:#ff800a;
	padding:90px 0;
}
.mapa .izq{
	width:55%;
	height:auto;
	float:left;
	padding-right:5%;
}
.mapa .izq img{
	width:100%;
	height:auto;
}
.mapa .dch{
	width:40%;
	height:auto;
	float:left;
	padding:0;;
	overflow:hidden;
	color:#fff;
}
.mapa .dch .separacion{
	padding-top:30px;
}
.mapa .dch .boton{
	font-size:20px;
	border:solid 3px #fff;
	color:#fff;
	padding:10px 70px;
	background-color:transparent;
	font-weight:900;
}
.mapa .dch .boton:hover{
	color:#ff800a;
	background-color:#fff;
}

/*------------- OTRAS FORMAS DE COLABORAR -----------------*/
.otras{
	background-color:#fff;
	padding:120px 0;
}
.otras article{
	text-align:center;
}
.otras p{
	font-size:22px;
	line-height:29px;
	width:560px;
	margin:40px auto;
}

.otras .boton{
	font-size:20px;
	border:solid 3px #ff800a;
	color:#ff800a;
	padding:10px 70px;
	background-color:transparent;
	font-weight:900;
}
.otras .boton:hover{
	color:#fff;
	background-color:#ff800a;
}


/*--------------- Participa Un metro Cuadrado -------------------------------*/

.participa{
	background-image:url(../imagenes/unmetro_participa_cover.jpg);
	background-size:100% auto;
	background-repeat:no-repeat;
	background-position:left top;
	background-color:#fff;
}

.participa .centrador{
	margin:0 auto;
	width:1080px;
	height:auto;
}

.participa .titular{
	padding:90px 0;
	float:left;
}

.participa .titular h1{
	font-size:39px;
	color:#fff;
	font-weight:900;
	line-height:45px;
}
.participa .titular .txt_amarillo{
	color:#fbdb0d;
}
.participa .titular sup{
	font-size:19px;
}

.participa .seleccion{
	padding:0 0 90px;
	float:left;
}

.participa .opcion{
	width:260px;
	height:auto;
	color:#6E6E6E;
	float:left;
	background-color:#fff !important;


}

.participa .cuadro{
	width:230px;
	height:230px;
	border:15px solid #6E6E6E;
	color:#6E6E6E;
	display:table;
	float:left;
	cursor:pointer;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	transition: 0.5s;
}

.participa .cuadro .txt{
	width:200px;
	height:200px;
	padding:15px;
	display:table-cell;
	text-align:center;
	vertical-align:middle;
	font-size:28px;
	font-weight:800;
	line-height:33px;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	transition: 0.5s;
}

.participa .amarillo{

}
.participa .verde{
	margin:0 150px;
}
.participa .azul{

}




.participa .amarillo:hover .cuadro, .participa .marcado1 .cuadro{
	border-color:#fbdb0d;
}
.participa .amarillo:hover .txt, .participa .marcado1 .txt{
	color:#fbdb0d;
}
.participa .amarillo:hover .boton{
	color:#fbdb0d;
	border-color:#fbdb0d;
}

.participa .verde:hover .cuadro, .participa .marcado2 .cuadro{
	border-color:#2ad566;
}
.participa .verde:hover .txt, .participa .marcado2 .txt{
	color:#2ad566;
}
.participa .verde:hover .boton{
	color:#2ad566;
	border-color:#2ad566;
}

.participa .azul:hover .cuadro, .participa .marcado3 .cuadro{
	border-color:#00d7e5;
}
.participa .azul:hover .txt, .participa .marcado3 .txt{
	color:#00d7e5;
}
.participa .azul:hover .boton{
	color:#00d7e5;
	border-color:#00d7e5;
}
.participa .azul .txt{
	text-align:left;
	width:160px;
	height:160px;
	padding:35px;
}

.participa  .entradilla{
	padding:30px 0;
	float:left;
	width:100%;
	height:130px;
	text-align:left;
}

.participa  .entradilla p{
	margin:0;
}
.participa .boton{
	font-size:20px;
	border:solid 3px #6E6E6E;
	color:#6E6E6E;
	padding:13px 0;
	background-color:transparent;
	font-weight:900;
	width:253px;
	float:left;
	text-align:center;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	transition: 0.5s;
	cursor:pointer;
}

/*--------------- formulario unete ---------------------*/

.formulario input, .formulario select, .formulario textarea, .formulario button{
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	transition: 0.5s;
}

.formulario{
	overflow:hidden;
	-webkit-transition: 1s ease-in-out;
	-moz-transition: 1s ease-in-out;
	transition: 1s ease-in-out;
}


#form_organiza{
	color:#6e6e6e;
	background-color:#fbdb0d;
}
#form_organiza .arriba{
	background-position:left top;
}
#form_unete{
	color:#fff;
	background-color:#2ad566;
}
#form_unete .arriba{
	background-position:center top;
}
#portucuenta{
	color:#fff;
	background-color:#00d7e5;
}

.cerrado{
	height:0px;
}

#form_organiza.abierto{
	height:1550px;

}

#form_unete.abierto{
	height:1250px;
}


#portucuenta.abierto{
	height:450px;
}



.formulario .centrador{
	margin:0 auto;
	width:1080px;
	height:auto;
}
.formulario .arriba{
	float:left;
	width:100%;
	background-image:url(../imagenes/flecha_blanca_grande.png);
	background-repeat:no-repeat;
	padding:80px 0 20px;
}

.formulario .columna{
	float:left;
	height:auto;
	width:490px;
	margin: 0 0 50px;
}
.formulario .izquierda{
	padding:0 50px 0 0;
}
.formulario .derecha{
	padding:0 0 0 50px;
	/*border-left:solid 1px #000;*/
}
.formulario label{
	text-transform:uppercase;
	margin:0 0 10px;
	font-weight:700;
	padding:0;
	display:block;
	width:100%;
	color:#1d1d1b;
	font-size:17px;


}
.formulario .columna p{
	margin:0 0 10px;
	width:100%;
	line-height:20px;
	font-size:15px;
}
.formulario input{
	width:250px;
	height:20px;
	padding:5px 10px;
	text-align:left;
	font-family: 'Fira Sans', sans-serif;
	color:#222221;
	font-size:15px;
	margin:0 0 40px;
	border-radius: 0px 0px 0px 0px;
	-moz-border-radius: 0px 0px 0px 0px;
	-webkit-border-radius: 0px 0px 0px 0px;
	background-color:transparent;
	border:solid 1px #222221;
}
.formulario input:focus{
	background-color:rgba(255,255,255,0.25);
}

.formulario select{
	width:270px;
	height:30px;
	padding:5px 10px;
	text-align:left;
	font-family: 'Fira Sans', sans-serif;
	color:#222221;
	font-size:15px;
	margin:0 0 40px;
	border-radius: 0px 0px 0px 0px;
	-moz-border-radius: 0px 0px 0px 0px;
	-webkit-border-radius: 0px 0px 0px 0px;
	background-color:transparent;
	border:solid 1px #222221;
}
.formulario select:focus{
	background-color:rgba(255,255,255,0.25);
}

.mimapa{
	width:480px;
	height:360px;
	background-color:rgba(0,0,0,0.1);
	border-right:solid 1px #222221;
	border-left:solid 1px #222221;
	border-bottom:solid 1px #222221;
}

.mimapa{
	width:480px;
	height:360px;
	background-color:rgba(0,0,0,0.1);
	border-right:solid 1px #222221;
	border-left:solid 1px #222221;
	border-bottom:solid 1px #222221;
}

#form_unete .mimapa{
	height:170px;
}

#infomap{
	background-color: #fff;
    border: 1px solid #f2314c;
    float: left;
    height: auto;
    margin: -1px 0 40px;
    padding: 20px;
    width: 440px;
}

#infomap .info{
	color: #6c6c6c;
    float: left;
    height: auto;
    width: 398px;
}

#infomap .info p{
	margin:0 0 5px;
}

#infomap .logo{
	float: left;
    margin: -40px 0 0;
}


.anchototal{
	width:460px !important;
	margin:0 !important;
}

.formulario textarea{
	width:250px;
	height:150px;
	padding:5px 10px;
	text-align:left;
	font-family: 'Fira Sans', sans-serif;
	color:#222221;
	font-size:15px;
	margin:0 0 40px;
	border-radius: 0px 0px 0px 0px;
	-moz-border-radius: 0px 0px 0px 0px;
	-webkit-border-radius: 0px 0px 0px 0px;
	background-color:transparent;
	border:solid 1px #222221;
	resize:none;
}

.formulario textarea:focus{
	background-color:rgba(255,255,255,0.25);
}

.formulario .condiciones{
	width:100%;
	height:auto;
	float:left;
}
.micheck{
	float: left;
    height: auto !important;
    margin: 0 3% 20px 0 !important;
    width: auto !important;
}
.condiciones p{
    float: left;
    margin: -4px 0 10px !important;
    width: 90% !important;
	font-weight:400;
	font-size:11px !important;
}
.condiciones p a{
	font-weight:600;
	text-decoration:underline;
}


.formulario .btn{
	font-family: 'Fira Sans', sans-serif;
	font-size:16px;
	color:#1d1d1b;
	padding:10px 40px;
	background-color:transparent;
	font-weight:700;
	float:left;
	cursor:pointer;
	border:solid 2px #1d1d1b;
	border-radius: 0px 0px 0px 0px;
	-moz-border-radius: 0px 0px 0px 0px;
	-webkit-border-radius: 0px 0px 0px 0px;

}
.formulario .btn:hover{
	color:#fff;
	background-color:#1d1d1b;
}


#portucuenta article{
	background-position:right top;
	background-image:url(../imagenes/flecha_blanca_grande.png);
	background-repeat:no-repeat;
	padding:130px 0 120px;
	text-align:center;
	color:#fff;
}

#portucuenta h1{
	margin:0 auto 50px;
	color:#fff;
}
#portucuenta .boton{
	font-size:18px;
	border:solid 2px #fff;
	color:#fff;
	padding:10px 20px;
	background-color:transparent;
	font-weight:900;
}
#portucuenta .boton:hover{
	color:#00d7e5;
	background-color:#fff;

}
.error {
    color: #a94442 !important;
    text-transform: lowercase !important;
    font-style: italic;
		margin-top:-10px;
		font-size: 12px;
}

#error {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 10;
}

#ventana {
    background-color: #eeeeee;
    display: table;
    height: 616px;
    left: 50%;
    margin: -308px 0 0 -388px;
    padding: 10px;
    position: fixed;
    top: 50%;
    width: 776px;
    z-index: 11;
}

#ventana p{
    color:#222221;
	text-align:center;
	font-size:32px;
	font-weight:bold;
}

#alerta {
    display: table-cell;
    height: 100%;
    margin: -300px 0 0 -375px;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}

#cierre {
	width:26px;
	height:26px;
	cursor:pointer;
	z-index:12;
	position:relative;
	left:730px;
	}

#separador {
	border-left: 1px solid #000000;
	padding-left: 50px;
	}

.nombre3{
	padding: 2px 0 0 !important;
	}

input[type="checkbox"], input[type="radio"] {
    line-height: normal;
    margin: 0 5px 32px 0;
}
