@charset "utf-8";
/* CSS Document */

.ocultarenmovil{
	display:none;	
}
.cuadricula{
		background-repeat:no-repeat;
		background-position:center top;
		
}
.cuadricula article{
		width:100%;
		overflow:hidden;
}
.cuadricula article{
		width:100%;
		overflow:hidden;
}
.seleccion2{
		display:none;	
	}
/* MEDIA QUERYS ESCRITORIO -------------------------------*/

@media only screen and (min-width: 400px) {
	/*----- Cuadricula -------*/
	.cuadricula{
		background-image:url(../imagenes/unmetro_home.jpg);
		background-size:100% auto;	
	}	
	.cuadricula table{
		padding:0;
		margin:-5.5vw 0;
		border:none 0px;
		background-color:rgba(0,0,0,0.25);
	}
	.cuadricula td{
		height:10.99999999vw;
		width:11.11111111%;
		border:solid 1px #fff;
	}
	
	.cuadricula td img{
		width:100%;
		height:100%;
		border:none;
		margin:0;
		padding:0;
		display:block;
	}
	
	.mousedown{
		height: auto !important;
		margin: -4.5vw auto 0 !important;
		width: 20% !important;
	}
	
	/*--- Que es 1m2 --------------*/
	
	.quees{
		background-color:#fff;
		padding:75px 0;	
	}
	
	.quees .izq{
		width:55%;
		height:auto;
		float:left;
		padding-right:5%;	
	}
	
	.quees .dch{
		width:40%;
		height:242px;
		float:left;	
		padding:60px 0 0 0;
		overflow:hidden;
	}
	.quees .dch iframe{
		width:100%;
		border:none 0px;
		height:243px;	
	}
	.mapa{
		background-color:#ff800a;
		padding:90px 0;	
	}
	.mapa .izq{
		width:55%;
		height:auto;
		float:left;
		padding-right:5%;	
	}
	.mapa .izq img{
		width:100%;
		height:auto;	
	}
	.mapa #map{
		width:100% !important;
		border:none 0px;
		height:350px !important;
	}
	
	.mapa .dch{
		width:40%;
		height:auto;
		float:left;	
		padding:0;;
		overflow:hidden;
		color:#fff;
	}
	.mapa .dch .separacion{
		padding-top:30px;	
	}
	.mapa .dch .boton{
		font-size:20px;
		border:solid 3px #fff;
		color:#fff;
		padding:10px 70px;
		background-color:transparent;
		font-weight:900;
	}
	.mapa .dch .boton:hover{
		color:#ff800a;
		background-color:#fff;
	}
	.otras{
		background-color:#fff;
		padding:120px 0;	
	}
	.otras article{
		text-align:center;	
	}
	.otras p{
		font-size:22px;
		line-height:29px;
		width:560px;
		margin:40px auto;	
	}
	.otras .boton{
		font-size:20px;
		border:solid 3px #ff800a;
		color:#ff800a;
		padding:10px 70px;
		background-color:transparent;
		font-weight:900;
	}
	.otras .boton:hover{
		color:#fff;
		background-color:#ff800a;
	}
	
	.participa{
		background-image:url(../imagenes/bg_participa.jpg);
		background-size:auto auto;
		background-repeat:no-repeat;
		background-position:center top;
		background-color:#fff;
	}
	
	.participa .centrador{
		margin:0 auto;
		width:1080px;
		height:auto;	
	}
	.participa .titular{
		padding:90px 0;
		float:left;
	}
	.participa .titular h1{
		font-size:39px;
		color:#fff;	
		font-weight:900;
		line-height:45px;
	}
	.participa .titular .txt_amarillo{
		color:#fbdb0d;
	}
	.participa .titular sup{
		font-size:19px;
	}
	.participa .seleccion{
		padding:0 0 90px;
		float:left;
	}
	.participa .opcion, .difunde .opcion{
		width:260px;
		height:auto;
		color:#6E6E6E;
		float:left;
		background-color:transparent !important;
	}
	.participa .cuadro, .difunde .cuadro{
		width:230px;
		height:230px;
		border:15px solid #6E6E6E;
		color:#6E6E6E;
		display:table;
		float:left;
		cursor:pointer;
		-webkit-transition: 0.5s;
		-moz-transition: 0.5s;
		transition: 0.5s;
		background-color:#fff;
	}
	.participa .cuadro .txt, .difunde .cuadro .txt{
		width:200px;
		height:200px;
		padding:15px;
		display:table-cell;
		text-align:center;
		vertical-align:middle;
		font-size:28px;
		font-weight:800;
		line-height:33px;
		-webkit-transition: 0.5s;
		-moz-transition: 0.5s;
		transition: 0.5s;
	}
	.participa .verde, .difunde .rosa{
		margin:0 150px;
	}
	.participa .amarillo:hover .cuadro, .participa .marcado1 .cuadro{
		border-color:#fbdb0d;
	}
	.participa .amarillo:hover .txt, .participa .marcado1 .txt{
		color:#fbdb0d;
	}
	.participa .amarillo:hover .boton{
		color:#fbdb0d;
		border-color:#fbdb0d;
	}
	
	.participa .verde:hover .cuadro, .participa .marcado2 .cuadro{
		border-color:#2ad566;
	}
	.participa .verde:hover .txt, .participa .marcado2 .txt{
		color:#2ad566;
	}
	.participa .verde:hover .boton{
		color:#2ad566;
		border-color:#2ad566;
	}
	
	.participa .azul:hover .cuadro, .participa .marcado3 .cuadro{
		border-color:#00d7e5;
	}
	.participa .azul:hover .txt, .participa .marcado3 .txt{
		color:#00d7e5;
	}
	.participa .azul:hover .boton{
		color:#00d7e5;
		border-color:#00d7e5;
	}
	
	.difunde .naranja:hover .cuadro, .difunde .marcado3 .cuadro{
		border-color:#ff8022;
	}
	.difunde .naranja:hover .txt, .difunde .marcado3 .txt{
		color:#ff8022;
	}
	.difunde .naranja:hover .boton{
		color:#ff8022;
		border-color:#ff8022;
	}
	
	.difunde .rosa:hover .cuadro, .difunde .marcado2 .cuadro{
		border-color:#fa55a6;
	}
	.difunde .rosa:hover .txt, .difunde .marcado2 .txt{
		color:#fa55a6;
	}
	.difunde .rosa:hover .boton{
		color:#fa55a6;
		border-color:#fa55a6;
	}
	
	.difunde .azul:hover .cuadro, .difunde .marcado1 .cuadro{
		border-color:#00d7e5;
	}
	.difunde .azul:hover .txt, .difunde .marcado1 .txt{
		color:#00d7e5;
	}
	.difunde .azul:hover .boton{
		color:#00d7e5;
		border-color:#00d7e5;
	}
	
	
	.participa .azul .txt, .difunde .azul .txt{
		text-align:left;
		width:160px;
		height:160px;
		padding:35px;
	}
	.participa  .entradilla, .difunde .entradilla{
		padding:30px 0;
		float:left;
		width:100%;
		height:130px;
		text-align:left;
	}
	.participa  .entradilla p, .difunde  .entradilla p{
		margin:0;
	}
	.participa .boton, .difunde .boton{
		font-size:20px;
		border:solid 3px #6E6E6E;
		color:#6E6E6E;
		padding:13px 0;
		background-color:transparent;
		font-weight:900;
		width:253px;
		float:left;
		text-align:center;
		-webkit-transition: 0.5s;
		-moz-transition: 0.5s;
		transition: 0.5s;
		cursor:pointer;
	}
	
	
	.formulario input, .formulario select, .formulario textarea, .formulario button{
		-webkit-transition: 0.5s;
		-moz-transition: 0.5s;
		transition: 0.5s;	
	}
	
	.formulario{
		overflow:hidden;
		-webkit-transition: 1s ease-in-out;
		-moz-transition: 1s ease-in-out;
		transition: 1s ease-in-out;
	}
	#form_organiza{
		color:#6e6e6e;
		background-color:#fbdb0d;
	}
	#form_organiza .arriba{
		background-position:left top;
	}
	#form_unete{
		color:#fff;
		background-color:#2ad566;
	}
	#form_unete .arriba{
		background-position:center top;
	}
	#portucuenta{
		color:#fff;
		background-color:#00d7e5;
	}
	.cerrado{
		height:0px !important;
	}
	
	#form_organiza.abierto{
		height:1650px;
		max-height:2000px;
			
	}
	
	#form_unete.abierto{
		height:1250px;
		max-height:2000px;
	}
	
	
	#portucuenta.abierto{
		height:450px;
		max-height:2000px;
	}
	
	#portucuentaform.abierto{
		height:550px;
		max-height:2000px;
	}
	
	.formulario .centrador{
		margin:0 auto;
		width:1080px;
		height:auto;	
	}
	
	.formulario .arriba{
		float:left;	
		width:100%;
		background-image:url(../imagenes/flecha_blanca_grande.png);
		background-repeat:no-repeat;	
		padding:80px 0 20px;	
	}
	.formulario .columna{
		float:left;
		height:auto;
		width:490px;
		margin: 0 0 50px;
	}
	.formulario .izquierda{
		padding:0 50px 0 0;
	}
	.formulario .derecha{
		padding:0 0 0 50px;
	}
	.formulario label{
		text-transform:uppercase;
		margin:0 0 10px;
		font-weight:700;
		padding:0;
		display:block;
		width:100%;
		color:#1d1d1b;
		font-size:17px;
	}
	.formulario .columna p{
		margin:0 0 10px;
		width:100%;
		line-height:20px;
		font-size:15px;
	}
	.formulario input{
		width:250px;
		height:20px;
		padding:5px 10px;
		text-align:left;
		font-family: 'Fira Sans', sans-serif;
		color:#222221;
		font-size:15px;
		margin:0 0 40px;
		border-radius: 0px 0px 0px 0px;
		-moz-border-radius: 0px 0px 0px 0px;
		-webkit-border-radius: 0px 0px 0px 0px;
		background-color:transparent;
		border:solid 1px #222221;
	}
	.formulario input:focus{
		background-color:rgba(255,255,255,0.25);
	}
	.formulario select{
		width:270px;
		height:30px;
		padding:5px 10px;
		text-align:left;
		font-family: 'Fira Sans', sans-serif;
		color:#222221;
		font-size:15px;
		margin:0 0 40px;
		border-radius: 0px 0px 0px 0px;
		-moz-border-radius: 0px 0px 0px 0px;
		-webkit-border-radius: 0px 0px 0px 0px;
		background-color:transparent;
		border:solid 1px #222221;
	}
	.formulario select:focus{
		background-color:rgba(255,255,255,0.25);
	}
	.mimapa{
		margin:10px 0 25px;
		width:480px;
		height:360px;
		background-color:rgba(0,0,0,0.1);
		border:solid 1px #222221;
	}
	
	
	#form_unete .mimapa{
		height:250px;
		margin:0 0 15px;
	}
	#infomap{
		background-color: #fff;
		border: 1px solid #f2314c;
		float: left;
		height: auto;
		margin: -16px 0 40px;
		padding: 20px;
		width: 440px;
	}
	#infomap .info{
		color: #6c6c6c;
		float: left;
		height: auto;
		width: 398px;
	}
	
	#infomap .info p{
		margin:0 0 5px;
	}
	#infomap .logo{
		float: left;
		margin: -40px 0 0;
		position:relative;
	}
	.anchototal{
		width:460px !important;
		margin:0 !important;	
	}
	.formulario textarea{
		width:250px;
		height:150px;
		padding:5px 10px;
		text-align:left;
		font-family: 'Fira Sans', sans-serif;
		color:#222221;
		font-size:15px;
		margin:0 0 40px;
		border-radius: 0px 0px 0px 0px;
		-moz-border-radius: 0px 0px 0px 0px;
		-webkit-border-radius: 0px 0px 0px 0px;
		background-color:transparent;
		border:solid 1px #222221;
		resize:none;
	}
	
	.formulario textarea:focus{
		background-color:rgba(255,255,255,0.25);
	}
	.formulario .condiciones{
		width:100%;
		height:auto;
		float:left;	
	}
	.micheck{
		float: left;
		height: auto !important;
		margin: 0 3% 20px 0 !important;
		width: auto !important;	
	}
	.condiciones p{
		float: left;
		margin: -4px 0 10px !important;
		width: 90% !important;
		font-weight:400;
		font-size:11px !important;
	}
	.condiciones p a{
		font-weight:600;
		text-decoration:underline;	
	}
	.formulario .btn{
		font-family: 'Fira Sans', sans-serif;
		font-size:16px;
		color:#1d1d1b;
		padding:10px 40px;
		background-color:transparent;
		font-weight:700;
		float:left;
		cursor:pointer;
		border:solid 2px #1d1d1b;
		border-radius: 0px 0px 0px 0px;
		-moz-border-radius: 0px 0px 0px 0px;
		-webkit-border-radius: 0px 0px 0px 0px;
	
	}
	.formulario .btn:hover{
		color:#fff;
		background-color:#1d1d1b;
	}
	#portucuenta article{
		background-position:right top;
		background-image:url(../imagenes/flecha_blanca_grande.png);
		background-repeat:no-repeat;	
		padding:130px 0 120px;
		text-align:center;
		color:#fff;
	}
	#portucuenta h1{
		margin:0 auto 50px;
		color:#fff;	
	}
	#portucuenta .boton{
		font-size:18px;
		border:solid 2px #fff;
		color:#fff;
		padding:10px 20px;
		background-color:transparent;
		font-weight:900;
	}
	#portucuenta .boton:hover{
		color:#00d7e5;
		background-color:#fff;
	
	}
	#portucuentaform article{
		background-color:#fff !important;
		color:#6e6e6e;
	}
	
	.difunde .centrador{
		margin:0 auto;
		width:1080px;
		height:auto;	
	}
	
	.difunde article {
		width:100%;
	}
	
	.difunde .titular{
		background-image: url("../imagenes/bg_difunde.jpg");
		background-position: left bottom;
		background-repeat: no-repeat;
		background-size: auto 100%;
		float: left;
		padding: 155px 0 175px;
	}
	
	.difunde .titular h1{
		font-size:39px;
		color:#fff;	
		font-weight:900;
		line-height:45px;
	}
	.difunde .titular .txt_verde{
		color:#2ad566;
	}
	
	.difunde .seleccion{
		padding:110px 0;
		float:left;
	}
	.difunde .explicacion {
		padding:90px 0;
		float:left;
		padding:100px 0 120px;
		background-color:#2ad566;
	}
	.difunde .explicacion h2{
		color: #fff;
	}
	
	.difunde .cuadro{
		margin-bottom:40px;	
	}
	
	.solapas{
		background-size: 100% auto;
		height: auto;
		padding-bottom: 40px;
		float: left;
		width: 100%;
	}
	#banners .contenido, #redes .contenido{
		width:100%;
		height:auto;
		float:left;	
	}
	
	#banners .contenido p, #redes .contenido p{
		margin: 0 0 35px;
		padding: 0;
		width: 100%;
		float: left;
	}
	
	#banners .contenido .sep, #redes .contenido .sep{
		margin: 0 0 15px;
	}
	.solapa_azul {
		background:url(../imagenes/linea_azul.png) top center no-repeat;
		text-align:left;		
	}
	
	.solapa_rosa {
		background:url(../imagenes/linea_rosa.png) top center no-repeat;
		text-align:center;		
	}

	
	#redes .centrador, #banners .centrador{
		margin:0 auto;
		width:1080px;
		height:auto;
	}
	
	.difunde_btn {
		background-color: transparent;
		border: 3px solid #6e6e6e;
		color: #6e6e6e;
		cursor: pointer;
		float: left;
		font-size: 20px;
		font-weight: 900;
		padding: 13px 0;
		text-align: center;
		-webkit-transition: 0.5s;
		-moz-transition: 0.5s;
		transition: 0.5s;
		width: 253px;
	}
	
	.difunde_btn:hover{
		background-color: #6e6e6e;
		color:#fff;
	}
	#manifiesto{
		color:#fff;
		background-color:#ff8022;
	}
	
	#manifiesto article{
		background-position:right top;
		background-image:url(../imagenes/flecha_blanca_grande.png);
		background-repeat:no-repeat;	
		padding:130px 0 130px;
		text-align:center;
		color:#fff;
	}
	#manifiesto h1{
		margin:0 auto 50px;
		color:#fff;	
	}
	#manifiesto .boton{
		font-size:18px;
		border:solid 2px #fff;
		color:#fff;
		padding:10px 20px;
		background-color:transparent;
		font-weight:900;
	}
	#manifiesto .boton:hover{
		color:#ff8022;
		background-color:#fff;
	
	}
	#redes.abierto{
		height:auto;
		min-height:500px;
			
	}
	
	#banners.abierto{
		height:auto;
		min-height:500px;
	}
	
	
	#manifiesto.abierto{
		height:auto;
		min-height:500px;
	}
	
	.difundedesplegable{
		overflow:hidden;
		-webkit-transition: 1s ease-in-out;
		-moz-transition: 1s ease-in-out;
		transition: 1s ease-in-out;
	}
	
}

/* DIFERENTES MEDIDAS DESKTOP -------------------------*/

@media only screen and (min-width: 1280px) {
	.participa{
		background-repeat:repeat-x;
	}
	.seleccion2{
		display:none;	
	}
}

@media only screen and (max-width: 1279px) and (min-width: 1080px) {
	.quees{
		padding:75px 5%;
		width:90%;	
	}
	.quees article{
		width:100%;	
	}
	.quees .dch{
		height:20vw;	
	}
	.quees .dch iframe{
		width:100%;
		border:none 0px;
		height:20vw;	
	}
	.mapa #map{
		width:100% !important;
		border:none 0px;
		height:32vw !important;	
	}
	
	.seleccion2{
		display:none;	
	}
}

@media only screen and (max-width: 1079px) and (min-width: 800px) {
	.mousedown{
		display:none !important;	
	}
	.quees{
		padding:50px 5%;
		width:90%;	
	}
	.quees .dch{
		height:20vw;	
	}
	.quees .dch iframe{
		width:100%;
		border:none 0px;
		height:20vw;	
	}
	
	.mapa #map{
		width:100% !important;
		border:none 0px;
		height:32vw !important;	
	}
	
	.mapa{
		padding:50px 5%;
		width:90%;	
	}
	.mapa .dch p{
		margin:0 0 27px;	
	}
	
	.participa .centrador{
		width:90%;
		padding:0 5%;
	}
	.seleccion2{
		display:none;	
	}
	.participa .titular h1{
		font-size:39px;
		color:#fff;	
		font-weight:900;
		line-height:45px;
	}
	.participa .opcion{
		width:26%;
	}
	.participa .cuadro{
		width:90%;
		height:21.5vw;
		border:1.3vw solid #6E6E6E;
		background-color:#fff;
	}
	.participa .cuadro .txt{
		width:90%;
		height:90%;
		padding:5%;
		font-size:23px;
		line-height:26px;
	}
	.participa .verde{
		margin:0 10%;
	}
	.participa .azul .txt{
		width:70%;
		height:70%;
		padding:15%;
	}
	.participa  .entradilla{
		height:100px;
	}
	.participa .boton{
		border:solid 3px #6E6E6E;
		width:98%;
	}
	
	#form_organiza.abierto{
		min-height:1550px;
		height:auto;
			
	}
	
	#form_unete.abierto{
		min-height:1250px;
		height:auto;
	}
	
	
	#portucuenta.abierto{
		min-height:450px;
		height:auto;
	}
	
	.formulario .centrador{
		width:90%;
		padding:0 5%;
	}
	.formulario .arriba{
		background-size:30% auto;	
	}
	.formulario .columna{
		width:48%;
	}
	.formulario .izquierda{
		padding:0 2% 0 0;
	}
	.formulario .derecha{
		padding:0 0 0 2%;
	}
	
	.formulario input{
		width:80%;
	}
	.formulario select{
		width:85.3%;
	}
	.mimapa{
		width:80%;
		height:250px;
	}	
	
	#form_unete .mimapa{
		height:250px;	
	}
	#infomap{
		padding: 20px 5%;
		width: 70%;
	}
	#infomap .info{
		width: 80%;
	}
	.anchototal{
		width:75% !important;
		padding:5px 2.5% !important;
	}
	.formulario textarea{
		width:80%;
		height:150px;
	}
	#portucuenta article{
		background-size:30% auto;
	}
}
@media only screen and (max-width: 799px) and (min-width: 400px) {
	.mousedown{
		display:none !important;	
	}
	.quees{
		padding:50px 0;
	}
	.quees .izq, .quees .dch{
		width:90%;
		height:auto;
		float:left;
		padding:0 5%;	
	}
	.quees .dch iframe{
		width:100%;
		border:none 0px;
		height:49vw;	
	}
	
	.mapa #map{
		width:100% !important;
		border:none 0px;
		height:49vw !important;	
	}
	.mapa{
		padding:50px 0;
	}
	.mapa .izq, .mapa .dch{
		width:90%;
		padding:0 5%;	
	}
	.mapa .dch .separacion {
		text-align: center;
	}

	.otras p{
		font-size:20px;
		line-height:27px;
		width:90%;
		margin:30px auto;	
	}
	
	.participa .seleccion{
		display:none;	
	}
	
	.participa .centrador{
		width:90%;
		padding:0 5%;	
	}
	.participa .titular h1{
		font-size:35px;
		line-height:42px;
	}
	.participa .titular sup{
		font-size:17px;
	}
	.participa .opcion{
		width:31%;
	}
	.participa .cuadro{
		width:90%;
		height:24.5vw;
		border:1.4vw solid #6E6E6E;
		background-color:#fff;
	}
	.participa .cuadro .txt{
		width:90%;
		height:90%;
		padding:5%;
		font-size:20px;
		line-height:26px;
	}
	.participa .verde{
		margin:0 3%;
	}
	.participa .azul .txt{
		width:80%;
		height:80%;
		padding:10%;
	}
	.participa  .entradilla{
		height:160px;
	}
	.participa .boton{
		font-size:16px;
		border:solid 3px #6E6E6E;
		width:97%;
		float:left;
	}
	#form_organiza.abierto{
		min-height:1550px;
		height:auto;
			
	}
	
	#form_unete.abierto{
		min-height:1250px;
		height:auto;
	}
	
	
	#portucuenta.abierto{
		min-height:450px;
		height:auto;
	}
	.formulario .centrador{
		width:90%;
		padding:0 5%;
	}
	.formulario .arriba{
		background-size:30% auto;	
	}
	.formulario .columna{
		width:100%;
		margin:0;
	}
	.formulario .izquierda, .formulario .derecha{
		padding:0 0 0 0;
	}
	.formulario .derecha{
		margin:0 0 50px 0;
	}
	
	.formulario label{
		font-size:15px;
	}
	.formulario .columna p{
		line-height:17px;
		font-size:14px;
	}
	.formulario .columna p br{
		display:none;	
	}
	.formulario input{
		width:95%;
		font-size:14px;
	}
	.formulario select{
		width:98.5%;
		font-size:14px;
	}
	.mimapa{
		height: 45vw;
    	width: 98.5%;
	}	
	
	#form_unete .mimapa{
		height:25vw;	
	}
	#infomap{
		padding: 20px 5%;
		width: 88.5%;
	}
	#infomap .info{
		width: 90.5%;
	}
	.anchototal{
		width:93.5% !important;
		padding:5px 2.5% !important;
	}
	.formulario textarea{
		width:95%;
		height:150px;
		font-size:14px;
	}
	#portucuenta article{
		background-size:30% auto;
	}
	.cuadricula{
		margin-bottom:50px;	
	}
	#portucuenta br{
		display:none;	
	}
}


@media only screen and (max-width: 700px) and (orientation:portrait) {
	
	.cuadricula2{
		background-image:url(../imagenes/unmetro_home_mobile.jpg) !important;
		background-size:100% 100% !important;
		background-repeat:no-repeat !important;
		background-position:center top !important;
		height:auto;
		background-color:#ccc !important;
		display:block;
		
	}
	.cuadricula2 article{
		width:100%;
		overflow:hidden;
		height:auto;
	}
	.cuadricula2 table{
		padding:0 !important;
		margin:0 !important;
		border:none 0px !important;
		background-color:rgba(0,0,0,0.25);
	}
	.cuadricula2 td{
		height:33.333333333vw !important;
		width:33.333333333% !important;
		border:solid 1px #fff !important;
	}
	
	.cuadricula2 td img{
		width:100%;
		height:100%;
		border:none;
		margin:0;
		padding:0;
		display:block;
	}
	
	
	.mousedown{
		display:none !important;	
	}
	.quees{
		padding:0 0 10px !important;
	}
	.quees .izq{
		width:90%;
		height:auto;
		clear:right;
		padding:0 5%;	
	}
	
	.quees .dch{
		width:100%;
		height:auto;
		clear:left;
		padding:0 0 20px;	
	}
	.quees .dch iframe{
		width:100%;
		border:none 0px;
		height:56.4vw;	
	}
	.mapa{
		padding:50px 0;
	}
	.mapa .izq{
		width:100%;
		padding:0;	
	}
	 .mapa .dch{
		width:90%;
		padding:0 5%;	
	}
	.mapa .dch .separacion {
		text-align: center;
	}

	.otras p{
		font-size:20px;
		line-height:27px;
		width:90%;
		margin:30px auto 50px;	
	}
	.otras{
		background-color:#fff;
		padding:90px 0 50px;	
	}
	.participa .centrador{
		width:90%;
		padding:0 5%;	
	}
	.participa .titular h1{
		font-size:35px;
		line-height:42px;
	}
	.participa .titular sup{
		font-size:17px;
	}
	
	.participa .opcion{
		width:31%;
	}
	.participa .cuadro{
		width:90%;
		height:24.5vw;
		border:1.4vw solid #6E6E6E;
		background-color:#fff;
	}
	.participa .cuadro .txt{
		width:90%;
		height:90%;
		padding:5%;
		font-size:20px;
		line-height:26px;
	}
	.participa .verde{
		margin:0 3%;
	}
	.participa .azul .txt{
		width:80%;
		height:80%;
		padding:10%;
	}
	.participa  .entradilla{
		height:160px;
	}
	.participa .boton{
		font-size:16px;
		border:solid 3px #6E6E6E;
		width:97%;
		float:left;
	}
	#form_organiza.abierto{
		min-height:1550px;
		height:auto;
			
	}
	
	#form_unete.abierto{
		min-height:1250px;
		height:auto;
	}
	
	#portucuenta br{
		display:none;	
	}
	
	#portucuenta.abierto{
		min-height:450px;
		height:auto;
	}
	.formulario .centrador{
		width:90%;
		padding:0 5%;
	}
	.formulario .arriba{
		background-size:30% auto;	
	}
	.formulario .columna{
		width:100%;
		margin:0;
	}
	.formulario .izquierda, .formulario .derecha{
		padding:0 0 0 0;
	}
	.formulario .derecha{
		margin:0 0 50px 0;
	}
	
	.formulario label{
		font-size:15px;
	}
	.formulario .columna p{
		line-height:17px;
		font-size:14px;
	}
	.formulario .columna p br{
		display:none;	
	}
	.formulario input{
		width:95%;
		font-size:14px;
	}
	.formulario select{
		width:98.5%;
		font-size:14px;
	}
	.mimapa{
		height: 45vw;
    	width: 98.5%;
	}	
	
	#form_unete .mimapa{
		height:45vw;	
	}
	#infomap{
		padding: 20px 5%;
		width: 88.5%;
	}
	#infomap .info{
		width: 90.5%;
	}
	.anchototal{
		width:93.5% !important;
		padding:5px 2.5% !important;
	}
	.formulario textarea{
		width:95%;
		height:150px;
		font-size:14px;
	}
	#portucuenta article{
		background-size:30% auto;
	}
	/*--------- nuevo  ----------------*/
	.seleccion2{
		display:block !important;	
	}
	.seleccion2 .opcion{
		    background-color: transparent !important;
			color: #6e6e6e;
			float: left;
			height: auto;
			padding: 5vw;
			width: 90vw;
	}
	.seleccion2 .cuadro{
		background-color: #fff;
		border: 2vw solid #6e6e6e;
		color: #6e6e6e;
		cursor: pointer;
		display: table;
		float: left;
		height: 34vw;
		width: 34vw;
	}
	.seleccion2 .cuadro .txt{
		width: 34vw;
		height: 32vw;
		padding: 1vw;
		display: table-cell;
		text-align: center;
		vertical-align: middle;
		font-size: 24px;
		font-weight: 800;
		line-height: 33px;
		-webkit-transition: 0.5s;
		-moz-transition: 0.5s;
		transition: 0.5s;
	}

	.seleccion2 .amarillo:hover .cuadro, .participa .marcado1 .cuadro{
		border-color:#fbdb0d;
	}
	.seleccion2 .amarillo:hover .txt, .participa .marcado1 .txt{
		color:#fbdb0d;
	}
	.seleccion2 .amarillo:hover .boton{
		color:#fbdb0d;
		border-color:#fbdb0d;
	}
	
	.seleccion2 .verde:hover .cuadro, .participa .marcado2 .cuadro{
		border-color:#2ad566;
	}
	.seleccion2 .verde:hover .txt, .participa .marcado2 .txt{
		color:#2ad566;
	}
	.seleccion2 .verde:hover .boton{
		color:#2ad566;
		border-color:#2ad566;
	}
	
	.seleccion2 .azul:hover .cuadro, .participa .marcado3 .cuadro{
		border-color:#00d7e5;
	}
	.seleccion2 .azul:hover .txt, .participa .marcado3 .txt{
		color:#00d7e5;
	}
	.seleccion2 .azul:hover .boton{
		color:#00d7e5;
		border-color:#00d7e5;
	}
	.seleccion2 .azul .txt{
		text-align: left;
		height: 34vw;
		padding: 0 6vw;
	}
	.seleccion2  .entradilla{
		float: left;
		height: 28vw;
		padding: 0 0 0 4vw;
		text-align: left;
		width: 48vw;
	}
	.seleccion2  .entradilla p{
		font-size: 20px;
		line-height: 25px;
		margin: 0;
	}
	.seleccion2 .boton{
		font-size: 17px;
		border: solid 0.5vw #6E6E6E;
		color: #6E6E6E;
		padding: 3vw 0;
		background-color: transparent;
		font-weight: 900;
		width: 31vw;
		float: left;
		text-align: center;
		-webkit-transition: 0.5s;
		-moz-transition: 0.5s;
		transition: 0.5s;
		cursor: pointer;
		margin: 0 0 0 4vw;
	}
	#form_organiza .arriba, #form_unete .arriba, #portucuenta article{
		background-position:center top !important;
	}
	.condiciones p {
		margin: -4px 0 19px !important;
		font-size: 17px !important;
		line-height: 26px !important;
	}
}

.condiciones .error{
	display: block;
    float: left;
    margin: -5px 0 5px 2% !important;
    width: 80%;	
}


#error{
	width:100%;
	height:100vh;
	position:fixed;
	top:0;
	left:0;
	background-color:rgba(0,0,0,0.5);
	z-index:5000000000;
}

#error .ventana{
	width:480px;
	border:solid 3px #666;
	background-color:#fff;
	padding:20px;
	height:auto;
	min-height:200px;
	position:fixed;
	top:50%;
	left:50%;
	margin:-120px 0 0 -250px;
	z-index:5500000000;	
}
#error #cierre{
	width:100%;
	height:auto;
	padding:0 0 10px 0;
	float:left;
	text-align:right;
	margin:0;
}

#error .alerta{
	width:90%;
	padding:0 5%;
	margin:0;
	float:left;
	text-align:center;
	font-size:22px;	
	line-height:28px;
}

#error .alerta p{
	margin:0 auto 20px;	
}

#error #closee{
	cursor:pointer;	
}














