<IfModule mod_rewrite.c>RewriteEngine onRewriteBase /RewriteCond %{SCRIPT_FILENAME} !-d  RewriteCond %{SCRIPT_FILENAME} !-f  Rewriterule ^1m2$ index.php?unmetro=1Rewriterule ^que-es-libera$ index.php?quees=1Rewriterule ^1m2-participa$ index.php?participa=1Rewriterule ^1m2-difunde$ index.php?difunde=1</IfModule>