{% extends "base.html" %}

{% block head %}
    {{ parent() }}
    <title>Libera | Un metro cuadrado por la naturaleza</title>
    <link rel="stylesheet" type="text/css" href="css/unmetrocuadrado.css">
    <script src="js/minified/plugins/CSSPlugin.min.js"></script>
    <script src="js/minified/easing/EasePack.min.js"></script>
    <script src="js/minified/TweenLite.min.js"></script>
    <script src="js/unmetro.js"></script>
{% endblock %}



{% block content %}
<section class="cuadricula separacionHeader">
	<article>
    	<table width="100%" cellpadding="0" cellspacing="0" border="0">
        	<tr>
            	<td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
            </tr>
            <tr>
            	<td></td><td><img src="imagenes/box_verde.jpg" id="boxverde"></td><td></td><td><img src="imagenes/box_transparente.png" id="boxtransparente"></td><td></td><td></td><td></td><td></td><td></td>
            </tr>
            <tr>
            	<td></td>
                <td><img src="imagenes/box_azul.jpg" id="boxazul"></td>
                <td></td>
                <td></td>
                <td><img src="imagenes/1m2_logo.png" id="1m2logo"></td>
                <td></td>
                <td><img src="imagenes/box_amarillo.jpg" id="boxamarillo"></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
            	<td></td><td></td><td></td><td></td><td></td><td><img src="imagenes/unete.png" id="unete"></td><td></td><td></td><td></td>
            </tr>
            <tr>
            	<td></td><td></td><td></td><td></td><td><img src="imagenes/scrolldown-1.gif" class="mousedown"></td><td></td><td></td><td></td><td></td>
            </tr>
        </table>
	</article>
</section>
<section class="quees">
	<article>
    	<div class="izq">
        	<h1>¿QUÉ ES 1M<sup>2</sup> POR LA NATURALEZA?</h1>
            <p>1m<sup>2</sup> por la Naturaleza es el primer encuentro ciudadano nacional que promueve LIBERA. Un día, solo un día, para limpiar de basura los espacios naturales de nuestro país. El 17 de junio saldremos todos al campo, al monte, a la playa, a nuestro bosque o río más cercano o a cualquier zona verde que queramos para conservar estos espacios y liberarlos de la basura que un día se tiró y que sigue ahí, abandonada. Estos residuos no solo afean el paisaje sino que generan un impacto negativo en la naturaleza.</p>
            <p>El 17 de junio recogeremos basura. Pero, sobre todo, queremos conciencia. Porque la mejor basura es al que no existe. No podemos seguir ensuciando la naturaleza.</p>
            <h2>¿Por qué 1m<sup>2</sup> por la Naturaleza?</h2>
            <p>Si todos los españoles saliéramos el día 17 de junio a limpiar 1m<sup>2</sup> de nuestros espacios naturales más cercanos, conseguiríamos liberar de basura más de lo que miden algunos de los parques nacionales del país. Con un pequeño gesto podemos hacer entre todos algo muy grande por la naturaleza, por nosotros.</p>
        </div>
        <div class="dch">
        	<iframe  src="https://www.youtube.com/embed/alJC6eHPgO4?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
        </div>
    </article>
</section>
<section class="mapa">
	<article>
    	<div class="izq">
        	<img src="imagenes/imagen_mapa.jpg">
        </div>
        <div class="dch">
        	<p>1m<sup>2</sup> por la Naturaleza no es solo un día para salir con nuestra familia y amigos a colaborar y ayudar a conseguir una naturaleza sin basura. También es una oportunidad para concienciar, reeducar y mostrar al mundo que es necesario hacer las cosas de otra manera. Que tenemos que empezar a querer a la naturaleza y a cuidarla.</p>
            <p>Participa en el evento como organizador, uniéndote a un grupo de limpieza ya creado o por tu cuenta.</p>
            <p class="separacion"><a href="index.php?participa=1" target="_self" class="boton">PARTICIPA</a></p>

        </div>
    </article>
</section>
<section class="otras">
	<article>
    	<h1>OTRAS FORMAS DE COLABORAR</h2>
        <p>Además de participar el día 17 de junio saliendo a limpiar, puedes colaborar con nosotros difundiendo el evento en tus webs, blogs o redes sociales.</p>
        <p><a href="unmetro_difunde.html" target="_self" class="boton">DIFUNDE</a></p>
    </article>
</section>
{% endblock %}
