{% extends "base.html" %} {% block content %}
<form name="editf" id="editf" method="post" action="index.php?edit=1&guarda=2">
<article id="titulo">
  <h1>Editar Participante</h1>
  <div style="clear:both"></div>
  <div class="forme">
    <div class="column">
        <div>
          <h4>Persona de contacto:</h4>
          <span class="persona"><input type="text" name="persona" value="{{ participacion.persona }}" /></span>
       </div>
       <div>
          <h4>Email de contacto:</h4>
          <span class="email"><input type="text" name="email" value="{{ participacion.email }}" /></span>
       </div>
       <div>
          <h4>Teléfono de contacto:</h4>
          <span class="telefono"><input type="text" name="telefono" value="{{ participacion.telefono }}" /></span>
       </div>
       <div>
        <h4>Número de personas:</h4>
        <span class="numero"><input type="text" name="personas" value="{{ participacion.personas }}" /></span>
       </div>
     
       <div class="comentarios">
        <h4>Comentarios:</h4>
        <span class="comentarios"><textarea name="comentarios">{{ participacion.comentarios }}</textarea></span>
       </div>
    </div>
  </div>
 <div class="forme">
     <input type="submit" value="Guardar" />
 </div>
        <input type="hidden" id="par" name="par" value="4" />
        <input type="hidden" name="id" value="{{ participacion.id }}"/>
  <article>
</form>
    {% endblock %}
