{% extends "base.html" %}
   {% block content %}
   <article id="titulo"><h1>PARTICIPANTES</h1>
        <article id="listado">
        	<div class="leyenda">
            	<div class="id">Identificador</div>
                <div class="nombre">Nombre y Apellidos</div>
                <div class="personas">Número de Personas</div>
                <div class="hora">Hora</div>
                <div class="localizacion">Participantes</div>
           </div>
          {% for pa in parti %}
          <div class="item">
              <div class="id"><a href="index.php?edit=1&id={{ pa.id }}&par={{ es }}">#0{{ pa.id }}</a></div>
            <div class="nombre">{{ pa.persona }}</div>
            <div class="personas">{{ pa.cuantas }}</div>
            <div class="hora">{{ pa.hora }}</div>
            <div class="localizacion">{{ pa.lugar }}</div>
             <div class="cuantas"><a href="index.php?par=6&id={{ pa.id }}">Participantes</a></div>
          
         </div>
        {% endfor %}
      </article>
   {% endblock %}
