<footer>
	<div class="rrss">
        <span class="txt">Compartir:</span>
        <a href="#" target="_blank"><img src="imagenes/rrss_twitter.jpg"></a>
        <a href="#" target="_blank"><img src="imagenes/rrss_facebook.jpg"></a>
	</div>
	<div class="enlaces">
    	<a href="mailto:libera@seo.org" target="_self">Contacto</a>
	</div>
	<div class="partners">
		<a href="http://www.seo.org/" target="_blank" class="sep"><img src="imagenes/seo_birdlife_logo.jpg"></a>
		<a href="https://www.ecoembes.com/es" target="_blank"><img src="imagenes/ecoembes_logo.jpg"></a>
	</div>
</footer>
<div id="oculto" style="display:block;">
    <div id="barraaceptacion" style="display: block;">
        <div class="cook">
            Las cookies propias y de terceros nos permiten mejorar nuestros servicios. Al navegar por nuestro sitio web, aceptas el uso que hacemos de las cookies.
            <a class="ok" onclick="aceptar_cookies();"><b>Aceptar</b></a>
        </div>
    </div>
</div>
