<header>
	<div class="centrador">
    	<a href="index.php?home" target="_self"><img src="imagenes/libera_logo.svg" class="logolibera" type="image/svg+xml"></a>
        <nav>
        	<ul>
            	<li><a href="que-es-libera" target="_self">¿QUÉ ES LIBERA?</a></li>
                <li onMouseOver="mostrarSubmenu();" onMouseOut="cerrarSubmenu();"><a href="1m2" class="desplegable">1m<sup>2</sup> POR LA NATURALEZA</a></li>
                <li class="destacado rojo"><a href="1m2">17 &bull; JUNIO</a><br><span class="hastag">#Libera1m2</span></li>
            </ul>
        </nav>
    </div>
</header>
<div id="boton_menu"><a class="icono_menu" style="cursor:pointer;"><span class="cd-menu-icon"></span></a></div>
<div class="destacadomobile rojo">17 &bull; JUNIO<br><span class="hastag">#Libera1m2</span></div>
<div id="menumobile" class="oculto">
	<nav>
        	<ul>
            	<a href="que-es-libera" target="_self"><li>¿QUÉ ES LIBERA?</li></a>
               	<a target="_self" class="desplegable" onclick="versub();"><li>
                    1m<sup>2</sup> POR LA NATURALEZA<img src="../imagenes/down_arrow_grande.png" id="flecha_desplegable" />
                </li></a>
                <a href="1m2#quees" target="_self" class="desplegable"><li id="sub1" class="submenumobile novisible">¿Qué es 1m<sup>2</sup> por la Naturaleza?</li></a>
                <a href="1m2-participa" target="_self"><li id="sub2" class="submenumobile novisible">Participa</li></a>
                <a href="1m2-difunde" target="_self"><li id="sub3" class="submenumobile novisible">Difunde</li></a>
                <li class="submenumobile comparte"><span>Comparte esta web:</span> <a href="https://twitter.com/home?status=Conoce%20el%20proyecto%20%23Libera1m2%20de%20LIBERA%20para%20limpiar%20las%20zonas%20naturales%20del%20pa%C3%ADs%20en%20un%20solo%20d%C3%ADa%20http://proyectolibera.org/1m2" target="_blank"><img src="../imagenes/share_tw.png"  onclick="ga('send', 'event', 'Botón', ' Header_Twitter ');" /></a><a href="https://www.facebook.com/sharer/sharer.php?u=http%3A//proyectolibera.org/1m2" target="_blank"><img src="../imagenes/share_fb.png"   onclick="ga('send', 'event', 'Botón', ' Header_Facebook ');" /></a></li>
            </ul>
            
        </nav>
</div>
<div class="submenu ocultarsubmenu" onMouseOver="mostrarSubmenu();" onMouseOut="cerrarSubmenu();">
	<div class="centrador">
        <ul>
        	<li><a href="1m2#quees" target="_self" class="desplegable">¿Qué es 1m<span class="super">2</span> por la Naturaleza?</a></li>
            <li><a href="1m2-participa" target="_self">Participa</a></li>
            <li><a href="1m2-difunde" target="_self">Difunde</a></li>
        </ul>
	</div>
</div>
