<header>
	<div class="centrador">
    	<a href="index.php?home" target="_self"><img src="imagenes/libera_logo.jpg" class="logolibera"></a>
        <nav>
        	<ul>
            	<li><a href="index.php?quees=1" target="_self">¿QUÉ ES LIBERA?</a></li>
                <li onMouseOver="mostrarSubmenu();" onMouseOut="cerrarSubmenu();"><a href="index.php?unmetro=1" target="_self" class="desplegable">1m<sup>2</sup> POR LA NATURALEZA</a></li>
                <li class="destacado rojo">17 &bull; JUNIO<br><span class="hastag">#loremipsum</span></li>
            </ul>
        </nav>
    </div>
</header>
<div class="submenu ocultarsubmenu" onMouseOver="mostrarSubmenu();" onMouseOut="cerrarSubmenu();">
	<div class="centrador">
        <ul>
            <li><a href="index.php?participa=1" target="_self">Participa</a></li>
            <li><a href="index.php?difunde=1" target="_self">Difunde</a></li>
        </ul>
	</div>
</div>
