{% extends "base.html" %}

{% block head %}
    {{ parent() }}
    <title>Libera | Qué es Libera</title>
    <link type="text/css" rel="stylesheet" href="css/libera.css">
{% endblock %}

{% block content %}
    <section id="que" class="separacionHeader">
        	<article>
            	<h1>¿QUÉ ES LIBERA?</h1>
                <p>¿Quién ensucia los espacios naturales?<br>
						¿Y quién los limpia?</p> 

				<p>LIBERA es un grito a la acción para que entre todos liberemos la naturaleza de basura<br>
					y podamos, de esta manera, liberar mucha más vida a favor de la biodiversidad.</p>

                <p>Desde Libera planteamos un abordaje integral<br>
                a esta problemática dividido en tres grandes<br>
                ejes de acción: conocimiento, prevención<br>
                y participación.</p>

                <a href="#nace"><img src="imagenes/flecha.png"></a>
                             </article>
    </section>
        
     <section id="nace">
        <article>
            <h1>¿CÓMO NACE?</h1>
             <p>La naturaleza está sucia.<br>
            Cada día, los voluntarios de SEO/BirdLife<br>
            que realizan el seguimiento de aves y tareas<br>
            de conservación constatan la gran cantidad<br>
            de desechos que se amontonan en los espacios<br> 
            naturales. Basura que no se limpia<br>
            y que tiene un impacto sobre el medio<br>
            que no se ha analizado lo suficiente. 
            </p> 

            <p>Para cambiar esta realidad, nace LIBERA.<br>
            Y SEO/BirdLife lo hace de la mano de Ecoembes<br>
             como organización que trabaja en el reciclaje<br>
            y cambio de comportamientos pretendiendo<br>
             sumar en este proyecto a todos aquellos<br>
            que quieren una naturaleza sin basura. 
            </p>
            
            <p>Esta unión de esfuerzos y conocimientos tiene<br>
             como misión acabar con la basura que no se<br>
              limpia y produce un grave impacto ambiental.</p>
            
            <a href="#desarrollo"><img src="imagenes/flecha.png"></a>
         </article>
    </section>
        
    <section id="desarrollo">
        <article>
            <h1>EJES DE ACCIÓN</h1>
             <img src="imagenes/bola.png">
             <h2>CONOCIMIENTO</h2>
             <p>Para poder abordar el problema del littering es necesario saber más sobre su cantidad, composición, origen, comportamiento, áreas de acumulación, etc. De esta manera, podremos identificar soluciones eficaces para su prevención. Por eso, en Libera, tenemos un área destinada íntegramente al conocimiento de esta problemática. En ella, colaboramos junto a ONGs y universidades en el desarrollo de metodologías, y herramientas innovadoras para incrementar el conocimiento en los diferentes ecosistemas terrestres, marinos y fluviales.</p>
               <img src="imagenes/bola.png">
              <h2>PREVENCIÓN</h2>
              <p>Este es el eje con el que buscamos cambiar hábitos, informar y educar en el cuidado y el respeto de los espacios naturales.</p>
               <p>A través de materiales educativos y formativos trasladamos a los colegios la necesidad de trabajar juntos para frenar el littering. A su vez, el desarrollo de campañas de sensibilización y concienciación nos ayudará a mostrar los efectos que el abandono de residuos tiene en el medio ambiente y el papel que cada uno de nosotros tenemos para poder evitarlo.</p>
               <img src="imagenes/bola.png">
               <h2>PARTICIPACIÓN</h2>
               <p>La participación ciudadana es una de las claves para acabar con el problema del littering. A través de diversas acciones colaborativas, pondremos a los ciudadanos en contacto directo con el problema para concienciar de la necesidad de limpieza que tiene nuestro ecosistema.</p>
               <p><strong>¿Te unes al proyecto Libera para luchar por una naturaleza libre de basuras?</strong></p>
       </article>
    </section>
    
{% endblock %}