{% extends "base.html" %}

{% block head %}
    {{ parent() }}
    <title>Libera | Un metro cuadrado por la naturaleza | Difunde</title>
    <link rel="stylesheet" type="text/css" href="css/unmetrocuadrado.css">
	<link rel="stylesheet" type="text/css" href="css/difunde.css">
    <script src="js/difunde.js"></script>
{% endblock %}

{% block content %}
<section class="difunde separacionHeader">
	<article class="titular">
    	<div class="centrador">
    	<h1>CUANTOS MÁS SEAMOS, MÁS RÁPIDO<br>ACABAREMOS CON TODA LA BASURA DE <br><span class="txt_verde">LAS ZONAS VERDES DEL PAÍS.</span></h1>
        </div>
    </article>
    <article class="explicacion">
    <div class="centrador">
		<h2>Por eso, desde <strong>LIBERA</strong> vemos fundamental la difusión del evento <strong>1m2 por la Naturaleza</strong>. Colabora con nosotros difundiendo el evento en tu web o blog con uno de nuestros banners o en tus redes sociales compartiendo la foto de portada y de perfil del evento.</h2>
     </div>
    </article>
    <article class="seleccion">
    <div class="centrador">
    	<div class="opcion azul">
        	<div class="cuadro" onClick="verFormulario('redes');">
            	<div class="txt">
            	REDES<br> SOCIALES
                </div>
            </div><!--<div class="entradilla">
            	<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam.</p>
            </div>-->
            <div class="boton" onClick="verFormulario('redes');" id="btn1">
            	VER
            </div>
        </div>
        <div class="opcion rosa">
        	<div class="cuadro" onClick="verFormulario('banners');">
            	<div class="txt">
            	BANNERS
                </div>
            </div>
            <!--<div class="entradilla">
            	<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam.</p>
            </div>-->
            <div class="boton" onClick="verFormulario('banners');" id="btn2">
            	VER
            </div>
        </div>
        <div class="opcion naranja">
        	<div class="cuadro">
            	<div class="txt" onClick="verFormulario('manifiesto');">
            	MANIFIESTO
                </div>
            </div>
            <!--<div class="entradilla">
            	<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam.</p>
            </div>-->
            <div class="boton" onClick="verFormulario('manifiesto);" id="btn3">
            	DESCARGAR
            </div>
        </div>
        </div>
    </article>
</section>

<section id="redes" class="formulario cerrado">
	<article class="centrador">
    <div class="solapa_azul"><img src="imagenes/solapa_azul.png"></div>
    <div class="solapa_contenido">
    <p><img src="imagenes/banner1.jpg"></p>
    <p><a href="#" target="_blank" class="btn1">DESCARGAR</a></p>
    <p><img src="imagenes/banner2.jpg"></p>
    <p><a href="#" target="_blank" class="btn1">DESCARGAR</a></p>
     </div>
    </article>
</section>

<section id="banners" class="formulario cerrado">
	<article class="centrador">
    <div class="solapa_rosa"><img src="imagenes/solapa_rosa.png"></div>
    <div class="solapa_contenido">
	<p><img src="imagenes/banner1.jpg"></p>
    <p><a href="#" target="_blank" class="btn1">DESCARGAR</a></p>
    <p><img src="imagenes/banner2.jpg"></p>
    <p><a href="#" target="_blank" class="btn1">DESCARGAR</a></p>
     </div>
    </article>
</section>

<section id="manifiesto" class="formulario cerrado">
	<article class="centrador">
		<h1>Cada vez que vayas a la playa, al monte o<br> simplemente al parque más cercano a tu casa podrás<br> colaborar con la naturaleza. Descarga nuestro<br> manifiesto y descubre cómo.</h1>
        <p><a href="#" target="_blank" class="boton">DESCARGA MANIFIESTO</a></p>
    </article>
</section>
{% endblock %}
