<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Email 1m2</title>
</head>

<body>
<table width="100%" height="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff">
    <tr>
        <td valign="middle" align="center">
            <table width="600px" cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff" style="border:solid 1px #80D0CD;">
                <tr width="600px" height="442">
                    <td width="600px" height="442"><a href="http://www.proyectolibera.org" target="_blank"><img src="http://www.proyectolibera.org/imagenes/email/head.jpg" style="display:block;border:0 none;" width="600px" height="442"/></a></td>
                </tr>
                <tr width="600px">
                    <td width="600px">
                        <table width="600px" cellpadding="0" cellspacing="20" border="0" style="display:block">
                            <tr>
                                <td width="560px">
                                    <p style="font-family:Arial, Helvetica, sans-serif;font-size:14px;color:#222;"><b>Bienvenido a Libera</b>.</p>
                                    <p style="font-family:Arial, Helvetica, sans-serif;font-size:14px;color:#222;"><b>Nombre:</b> {{ persona }}<br /><b>Email:</b> {{ email }}<br /></p>
                                    <p style="font-family:Arial, Helvetica, sans-serif;font-size:14px;color:#222;"></p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr width="600px" height="70px">
                    <td width="600px" height="70px" ><a href="http://www.proyectolibera.org" target="_blank"><img src="http://www.proyectolibera.org/imagenes/email/footer.jpg" style="display:block;border:0 none;margin:0;" width="600px" height="70px" /></a></td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>